
@{
    ViewBag.Title = "CreateUser";
}




<div class="form-container border p-3 ">

    <h2 class="text-light text-center">CreateUser</h2>
    <div class="text-center">
        <img src="~/Content/images/icons8-user-100.png" id="img1" />
    </div>

    <div class="container p-3">
        <form method="post">
            <div class="row">
                <div class="col-md-6 mb-4">
                    
                    <input type="text" class="form-control" id="userFname" name="fName" placeholder="Enter First Name">
                </div>
                
                <div class="col-md-6 mb-4">
                    
                    <input type="text" class="form-control" id="userLname" name="lName" placeholder="Enter Last Name">
                </div>


            </div>
           
            <div class="row">
                <div class="col-md-6 mb-4">
                    
                    <input type="text" class="form-control" id="userEmail" name="Email" placeholder="Enter Email">
                </div>

                <div class="col-md-6 mb-4">
                    
                    <input type="text" class="form-control" id="userPhone" name="Phone" placeholder="Enter Phone Number">
                </div>


            </div>
            
            <div class="row">
                <div class="col-md-6 mb-4">

                    <select name="depart" id="userDepart" class="form-control">
                        
                        
                    </select>
                </div>

                <div class="col-md-6 mb-4">

                    <select name="role" id="roleId" class="form-control">
                        <option value="" disabled selected>Select Role Id</option>
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>


            </div>
            <br />

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Create User</button>

            </div>

        </form>

    </div>


</div>
<script src="~/Scripts/jquery-3.4.0.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/User/GetDepartments",
            data: "{}",
            success: function (data) {
                var s = '<option value="-1">Please Select a Department</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].DepartmentID + '">' + data[i].DepartmentName + '</option>';
                }
                $("#userDepart").html(s);
            }
        });

        $.ajax({
            type: "GET",
            url: "/User/GetRoles",
            data: "{}",
            success: function (data) {
                var s = '<option value="-1">Please Select a Role</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].RoleId + '">' + data[i].RoleName + '</option>';
                }
                $("#roleId").html(s);
            }
        });
    });

</script>
