
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">

    <div class="HeroSec ">
        <div class="row">
            <div class="col-4">
                hello
            </div>
            <div class="col-8">
                saSA
            </div>
        </div>
    </div>

</div>

