
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid homecontainer">
    @if (User.IsInRole("Admin"))
    {
        Html.RenderPartial("AdminHome");
    }
    @if (User.IsInRole("Teacher"))
    {
        Html.RenderPartial("TeacherHome");
    }
    @if (User.IsInRole("Student"))
    {
        Html.RenderPartial("StudentHome");
    }


</div>

<script>
    $(function () {
        var message1 = '@TempData["smessage"]';
        
        if (message1 != null) {
            swal({
                title: "Success",
                text: message1,
                type: info
                })
        }
        if (message2 != null) {
            swal({
                title: "Failed",
                text: message2,
                type: warning
            })
        }
    })

</script>

