
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid homecontainer">
    @if (User.IsInRole("Admin"))
    {
        Html.RenderPartial("AdminHome");
    }
    @if (User.IsInRole("Teacher"))
    {
        Html.RenderPartial("TeacherHome");
    }
    @if (User.IsInRole("Student"))
    {
        Html.RenderPartial("StudentHome");
    }


</div>

