
@{
    ViewBag.Title = "Index";
    

}

<div class="container-fluid homecontainer">
    @if (User.IsInRole("Admin"))
    {
        Html.RenderPartial("AdminHome");
    }
    @if (User.IsInRole("Teacher"))
    {
        Html.RenderPartial("TeacherHome");
    }
    @if (User.IsInRole("Student"))
    {
        Html.RenderPartial("StudentHome");
    }


</div>
<script src="~/Scripts/jquery-3.4.0.min.js"></script>
<script>

    

    $(function () {
        var message1 = '@ViewBag.smessage';
        
        console.log(message1)
        if (message1 != '') {
            swal({
                title: "Success",
                text: message1,
                icon:"success"
                })
        }
        
    })

</script>

