
<div class="container teachercontainer">

    <div class="row">

        <h2>TEACHERS PAGE</h2>

    </div>
    <br />
    <div class="row mt-3">
        <h3></h3>
        <div class="col-md-8"><h3>User Name: @User.Identity.Name</h3></div>
        
        
    </div>
    <div class="teacheroptions">

        @Html.ActionLink("MY COURSES", "MyCourses", "Teacher", null, new {@class= "btn btn-light" }) 
        
        <input type="button" class=" p-3 btn btn-light " value="CLASS TIMES" />
    </div>

</div>
