
@{
    ViewBag.Title = "ErrorPage";
}

<container class="bg-light my-5 p-3 d-flex justify-content-center align-items-center">


    <h2 class="text-danger">Error: @ViewBag.ErrorMess</h2>

</container>


