@model LmsSystem_DAL.Entities.UserVerify
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            font-family:'Berlin Sans FB';
            background: rgb(2,78,69);
            background: linear-gradient(90deg, rgba(2,78,69,1) 0%, rgba(4,35,96,1) 100%);
        }
        .form-container {
            height:auto;
            width:50%;
            min-width:380px;
            margin:auto;
            color:white;
            margin-top:10vh;


        }

        #img1{
            width:125px;
           
        }
    </style>

</head>
<body>
    <div class="form-container border p-3">

        <h1 class="text-center">User Login</h1>
        <div class="text-center">
            <img src="~/Content/images/icons8-user-100.png" id="img1" />
        </div>
        
        <div class="container p-3">
            <form method="post" >
                <div class="mb-3">
                    <label for="userEmail" class="form-label">User Username</label>
                    <input type="text" class="form-control" id="userEmail" name="Email">
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                </div>
                <div class="mb-3">
                    <label for="userPass" class="form-label">Password</label>
                    <input type="password" class="form-control" id="userPass" name="Password">
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <br />

                <div class="d-grid gap-2 ">
                    <button type="submit" onclick="" class="btn btn-primary">Login</button>

                </div>
               
            </form>

        </div>

    </div>
</body>
</html>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.0.js"></script>
<script>
    function validate() {
        
        var dname = document.getElementById("userEmail").value;
        var sdate = document.getElementById("userPass").value;
        

        console.log(dname + " " + sdate);
        if (dname == '' || sdate == '') {
            swal({
                title: "Error",
                text: "Please fill the fields first",
                icon: "error"
            })
            return false;
        }

    }
</script>
