body {
    font-family:cursive;
    background:black;
}
#navbar {
    background: rgb(168,42,0);
    background: linear-gradient(0deg, rgba(168,42,0,1) 0%, rgba(214,133,1,1) 100%);
}
#navlogo a{
    font-size:2rem;
    font-weight:bold;
}
.link1 {
    color: black;
    font-size:1.2rem;
}
